@import "tailwindcss";

:root {
  --color-primary: #ff7c36;
  --color-dark: #1f2937;
  --color-white: #ffffff;
  --color-light: #f5f7fa;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.feature-animate {
  animation: scale-up linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-slow {
  animation: floatSlow 5s ease-in-out infinite;
}
